# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Django Migrations (optional)
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# VSCode / IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Pip
pip-wheel-metadata/

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
htmlcov/
.coverage
.coverage.*

# Docker
*.pid
*.seed
*.pid.lock

# Jupyter
.ipynb_checkpoints
